<%= form_with model: @pin, class:"m-5" do |form| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
        <% pin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div>
    <%=form.label :tags, class:"form-label"%>
    <br>
    <% Category.all.each do |category|%>
    <%=form.label category.name, class:"form-label"%>
    <%= form.check_box :category_ids,{multiple: true}, category.id, nil %>
    <%end%>
  </div>
  
  <div class="field">
    <%= form.label :caption, class:"form-label"  %>
    <%= form.text_area :caption, class:"form-control"  %>
  </div>

   <div class="field">
    <%= form.label :image, class:"form-label"  %>
    <%= form.file_field :image, class:"form-control"  %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit nil, class:"btn btn-success" %>
  </div>
<% end %>

