<div class="col-6">
  <div class="">
    <%=link_to image_tag(pin.image.variant(resize_to_limit: [300, 300])),pin_path(pin) if pin.image.attached? %>
  </div>
  <div class="">
    <%= link_to pin.title, pin_path(pin)%>
  </div>
  <span class="badge bg-secondary" title="Created"><%=pin.created_at%></span>
  <span class="badge bg-primary" title="Author"><%=pin.user.username%></span>
  <div class="">
    <%pin.categories.each do |category|%>
      <span class="badge">
        <%=link_to category.name, category_path(category)%>
      </span>
    <%end%>
  </div>
</div>