<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<%@pin.categories.each do |category|%>
  <span class="badge">
    <%=link_to category.name, category_path(category)%>
  </span>
<%end%>

<p>
  <strong>Caption:</strong>
  <%= @pin.caption %>
</p>

<p>
  <strong>Image:</strong>
  <% if @pin.image.attached? %>
    <%= image_tag @pin.image, width: "600px" %>
  <% end %>
</p>

<%= link_to 'Back', pins_path, class:"btn btn-primary" %>
<%= link_to 'Edit', edit_pin_path(@pin), class:"btn btn-warning" %>
<%= link_to 'Delete', @pin, class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' }%>

<h2>Comments:</h2>
<div class="">
  <%=render @comments%>
</div>
<div class="">
  <%= render "comments/form", commentable:@pin%>
</div>

